extends layout

block content
  h1
    RouteMyFriend End Distracted Driving

  h2
    The GM Dashboard Emulator

  img(src="images/ss.png",width="600")

  h2
    The web real time tracker

  img(src="images/photo.png",width="300")