body {
	margin: 40px 0 0 0;
	padding: 0;
	overflow: hidden;
}

#header {
	color: #666;
	font-weight: bold;
	margin-left: 50px;
	display:inline;
}
#header img {
	height: 80px;
}

.contact-list button {
	border: none;
	width: 340px;
	line-height: 100px;
	text-align: left;
	padding:0;
	margin: 0;
	background-color: white;
	font-size: 20px;
}

.contact-list {
	list-style-type: none;
	margin: 0 0 0 50px;
	padding: 0;
}
.contact-list li {
	display: inline-block;
	margin: 10px;
}


.contact-list button:hover {
	outline: 5px solid #000;
}

.contact-list img {
	vertical-align: top;
	text-align: left;
	margin-right: 15px;
	width: 100px;
	height: 100px;
}